# $schema: ./schemas/config.schema.json
# This file is compatible with the parisneo toml hilighter extension for vscode:
# https://marketplace.visualstudio.com/items?itemName=parisneo.toml-hilighter&ssr=false#overview
# This uses a schema to enforce the inputs
# config.toml
[server]
host = "0.0.0.0"
port = "9642"
workers = 4
debug = false
migrate = false # micration from old version using yaml
https_enabled = false
ssl_certfile = ""
ssl_keyfile = ""

[app_settings]
data_dir = "data"  # For user-specific discussion files and SafeStore DBs
database_url = "sqlite:///./data/app_main.db" # Central SQLite DB for users and app settings
secret_key = "a_very_secret_key_for_flask_sessions_or_jwt" # For session/token use
access_token_expires_minutes = 44640 # How many minutes the access token stays alive after last use (44640 = 1 month)
